.ve_header_row_class_name{
	background: $main-bg-color !important;
}
.ve_header_cell_class_name{
	background: $main-bg-color !important;
}
.ve_cell_class_name{
	background: $base-color !important;
	border-color:$base-color !important;
}
.ve_row_class_name{
	background: $base-color !important;
}